<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Crud</title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
		<div class="container">
			<div class="page-header">
				<h1>Crud aplikace</h1>
			</div>
			<div class="jumbotron">
				<input type="button" id="novy_user" value="Nový uživatel" class="btn btn-primary" style="float: right;">
				<form id="new_user_form_id" name="new_user_form" class="form-inline" style="display:none;">

				</form>
				<table id="users_id">

					</tr>
				</table>
			</div>
		</div>
    </body>
</html>
